* {
    font-variant-caps: all-small-caps;
}

h3 {
    margin: 10px;
}

.add-shape {
    margin: 5px;
    padding: 5px;
    font-weight: 500;
}

.shape {
    position: absolute;
    height: 100px;
    width: 100px;
}

#shape-input {
    margin: 30px;
}

#btn-rectangle {
    background-color: lightgreen;
}

#btn-circle {
    background-color: blueviolet;
}

#btn-square {
    background-color: tomato;
}

#btn-triangle {
    background-color: gold;
}

#shape-container {
    height: 600px;
    max-width: 600px;
    position: relative;
    background-color: lightgray;
}

#side-panel {
    margin: 10px;
    border: solid 3px black;
}

.rectangle {
    background-color: lightgreen;
}

.circle {
    background-color: blueviolet;
}

.square {
    background-color: tomato;
}

.triangle {
    background-color: gold;
}